<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/css/custom.css' />
</head>
<body>

    <div class="collapse" id="side-menu-toogle">
        <div class="bg-inverse p-a-1">
            <h4>Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <!-- /.collapse -->

    <nav class="navbar navbar-fixed-top navbar-full navbar-dark bg-inverse hidden-md-up">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#side-menu-toogle">
            &#9776;
        </button>
    </nav>
    <!-- /.navbar -->

    <div class="side-menu hidden-sm-down">

        <div class="text-xs-center">
            <img src="http://www.myiconfinder.com/uploads/iconsets/624dc72b6deef6abddf29031c1ac7224.png" class="side-menu-icon">
        </div>
        <!-- /.text-xs-center -->
        
        <div class="margin-sides-075">
            <button type="button" class="btn btn-sm btn-green btn-block">NEW PROJECT</button>
        </div>
        <!-- /.margin-025 -->

        <div class="side-menu-header">
            MAIN NAVIGATION
        </div>
        <!-- /.side-menu-header -->

        <div class="side-menu-item active">
            <span class="fa fa-database side-menu-item-icon"></span>
            <span>Projects</span>
        </div>
        <!-- /.side-menu-item -->

        <div class="side-menu-item">
            <span class="fa fa-power-off side-menu-item-icon"></span>
            <span>Log Out</span>
        </div>
        <!-- /.side-menu-item -->

    </div>
    <!-- /.side-menu -->

    <div class="content">
        <h4>
            <span>New Project</span>
            <span class="custom-breadcrumb">
                <span>
                    <span class="fa fa-database"></span>
                    <span>Projects</span>    
                </span>
                <span class="no-pointer"> > </span>
                <span>
                    <span class="fa fa-plus"></span>
                    <span>New Project</span>    
                </span>
            </span>
            <!-- /.custom-breadcrumb -->
        </h4>

        <div class="new-project-form margin-top-3">
            <div class="form-group row">
                <label for="input-name" class="col-sm-2 form-control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-name" placeholder="Project name">
                </div>
            </div>
            <!-- Project name -->

            <div class="form-group row">
                <label for="input-name" class="col-sm-2 form-control-label">Type of Stream</label>
                <div class="col-sm-10">
                    <div class="radio">
                        <label>
                            <input type="radio" name="streamRadios" id="radio-public-stream" value="Public streams" checked>
                            Public streams
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="streamRadios" id="radio-user-stream" value="User Stream">
                            User Stream
                        </label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" name="streamRadios" id="radio-site-stream" value="Site Stream">
                            Site Stream
                      </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->

    <div class="content hidden-xs-up">
        <h4>
            <span>Projects</span>
            <span class="custom-breadcrumb">
                <span>
                    <span class="fa fa-database"></span>
                    <span>Projects</span>    
                </span>
            </span>
            <!-- /.custom-breadcrumb -->
        </h4>

        <table class="table table-striped margin-top-3">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Project Name</th>
                    <th>Files</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td class="gray-link">Semantic reasearch over twitter data</td>
                    <td>332</td>
                    <td>
                        <button type="button" class="btn btn-primary-outline margin-top-025" data-toggle="tooltip" title="Download">
                            <span class="fa fa-download"></span>
                        </button>
                        <button type="button" class="btn btn-success-outline margin-top-025" data-toggle="tooltip" title="View">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button type="button" class="btn btn-danger-outline margin-top-025" data-toggle="tooltip" title="Delete">
                            <span class="fa fa-times"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="gray-link">Semantic reasearch over twitter data</td>
                    <td>332</td>
                    <td>
                        <button type="button" class="btn btn-primary-outline margin-top-025" data-toggle="tooltip" title="Download">
                            <span class="fa fa-download"></span>
                        </button>
                        <button type="button" class="btn btn-success-outline margin-top-025" data-toggle="tooltip" title="View">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button type="button" class="btn btn-danger-outline margin-top-025" data-toggle="tooltip" title="Delete">
                            <span class="fa fa-times"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="gray-link">Semantic reasearch over twitter data</td>
                    <td>332</td>
                    <td>
                        <button type="button" class="btn btn-primary-outline margin-top-025" data-toggle="tooltip" title="Download">
                            <span class="fa fa-download"></span>
                        </button>
                        <button type="button" class="btn btn-success-outline margin-top-025" data-toggle="tooltip" title="View">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button type="button" class="btn btn-danger-outline margin-top-025" data-toggle="tooltip" title="Delete">
                            <span class="fa fa-times"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>        

    </div>
    <!-- /.content -->

    <!-- jQuery first, then Theter and finally Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <!-- Custom Javascript -->
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>