<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/css/custom.css' />
</head>
<body class="blurred-background">
    <div class="container">
        <div class="row text-xs-center">
            <div class="login-container">
                <div class="login-decoration"></div>
                
                <div class="login-content">
                    <h1 class="login-title"><strong>SIGN IN</strong></h1>

                    <div class="form-group">
                        <label class="sr-only" for="user">User</label>
                        <div class="input-group">
                          <div class="input-group-addon"><span class="fa fa-user" aria-hidden="true"></span></div>
                          <input type="text" class="form-control" id="user" placeholder="Username">
                        </div>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="sr-only" for="password">User</label>
                        <div class="input-group">
                          <div class="input-group-addon"><span class="fa fa-key" aria-hidden="true"></span></div>
                          <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </div>
                    <!-- /.form-group -->

                    <button id="btn-login" type="button" class="btn btn-lg btn-green btn-block">SIGN IN</button>

                    <br>
                    <div id="msg-box"></div>
                    <!-- /#msg-box -->

                </div>
                <!-- /.login-content -->
            </div>
            <!-- /.login-container -->
        </div>
        <!-- /.text-center -->
    </div>
    <!-- /.container -->

    <!-- jQuery first, then Theter and finally Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    <!-- Basic javascript functions -->
    <script src="/js/basic.js"></script>

    <script type="text/javascript">

        // An authentication function using POST request
        var login = function(e){
            postRequest(
                'users/login',
                {   
                    username: $("#user").val(),
                    password: $("#password").val()
                },
                function(data){
                    console.log(JSON.stringify(data));
                    if(data.status == "OK"){
                        // If the user is authenticated then reload the page, because it'll load
                        // the dashboard instead of login page
                        location.reload();
                    }else{
                        showMessage(data.message, '#msg-box', 'alert-danger');
                    }
                },function(){
                    alert('Ha ocurrido un error, verifica tu conexión e intenta nuevamente.');
            });
        }

        $( document ).ready(function() {
            // When the user clic in Log-in button or press 'enter' key, then the
            // user sends an authentication request
            $("#btn-login").click(login);
            $("#password").keypress(function(event) {
                if (event.which == 13) {
                    login();
                }
            });
            
        });
    </script>
</body>
</html>